body {
  background: black;
}

.jogo-container {
  border: 3px dashed #fff;
  width: 80vw;
  height: 70vh;
  margin: auto auto;
}

.jogo {
  width: 80vw;
  height: 70vh;
  position: relative;
}

.p1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 60px;
  background: #fff;
}

.p2 {
  position: absolute;
  bottom: 0px;
  left: 1015px;
  width: 20px;
  height: 60px;
  background: #fff;
}

.o1 {
  position: absolute;
  bottom: 50px;
  left: 500px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:#fff;
}

.placar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}