body{
  background: rgb(36, 36, 19);
}

.container {
  background: #000;
  width: 50vw;
  height: 50vh;
  margin: 125px auto 20px auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.button-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

button {
  padding: 20px 25px;
  cursor: pointer;
  border: none;
  background: rgb(172, 104, 104);
  color: #fff;
  font-weight: bold;
}